//
// VARIABLES
//

// COLORS
$color-primary: #9150ae;
$color-primary-dark: #7a4294;
$color-primary-darker: #6d3786;
$color-primary-light: #d9b0ea;
$color-secondary: #ffe347;
$color-tertiary: #17c5a3;
$color-quaternary: #ef767a;
$color-quinary: #4cd2ff;
$color-white: #ffffff;
$color-gray-lightest: #f0f0f2;
$color-gray-lighter: #e1e1e5;
$color-gray-light: #ceced4;
$color-gray: #adadb7;
$color-gray-dark: #676779;
$color-gray-darker: #474759;
$color-gray-darkest: #262637;
$color-black: #000000;

// BASE
$base-font-family:
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5;
$base-line-height-sm: 1.2;
$base-letter-spacing: 0.03em;
$base-vertical-rhythm: 1rem;
$base-color: $color-gray-dark;
$base-background-color: $color-white;
$base-anchor-color: $color-quinary;
$base-heading-color: $color-primary;
$base-heading-margin: ($base-vertical-rhythm * 3) 0 ($base-vertical-rhythm);
$base-heading-1-font-size: 72px;
$base-heading-2-font-size: 52px;
$base-heading-3-font-size: 40px;
$base-heading-4-font-size: 28px;
$base-heading-5-font-size: 20px;
$base-heading-6-font-size: 16px;

// MENUBAR
$menubar-nav-fixed-height: 64px;
$menubar-nav-width: 300px;

// TRANSITIONS
$transition-timing-default: 0.5s ease;
