//
// BASE
//

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $base-background-color;
  color: $base-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  letter-spacing: $base-letter-spacing;
  line-height: $base-line-height;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: $base-anchor-color;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base-heading-color;
  line-height: $base-line-height-sm;
  margin: $base-heading-margin;
}

h1 {
  font-size: $base-heading-1-font-size;
}

h2 {
  font-size: $base-heading-2-font-size;
}

h3 {
  font-size: $base-heading-3-font-size;
}

h4 {
  font-size: $base-heading-4-font-size;
}

h5 {
  font-size: $base-heading-5-font-size;
}

h6 {
  font-size: $base-heading-6-font-size;
}

p,
ol,
ul {
  margin: 0 0 $base-vertical-rhythm;
}
