//
// CAROUSEL
//

// VARIABLES
$carousel-height: 300px;
$carousel-margin: ($base-vertical-rhythm * 3);
$carousel-list-margin: 0 ($base-vertical-rhythm) ($base-vertical-rhythm * 2);
$carousel-list-background-color: $color-white;
$carousel-item-font-size: $base-vertical-rhythm;
$carousel-item-line-height: $base-line-height;
$carousel-navigation-height: 24px;
$carousel-navigation-item-box-shadow: inset 4px -4px 0 1px $color-gray-light;
$carousel-navigation-item-hover-box-shadow: inset 4px -4px 0 1px $color-gray-darkest;
$carousel-navigation-prev-left: -10px;
$carousel-navigation-prev-rotate: rotate(45deg);
$carousel-navigation-next-right: -10px;
$carousel-navigation-next-rotate: rotate(225deg);
$carousel-indicators-margin: 10px;
$carousel-indicators-item-size: ($base-vertical-rhythm / 3);
$carousel-indicators-item-background-color: $color-gray-light;
$carousel-indicators-item-after-background-color: $color-gray-darkest;

.carousel {
  display: block;
  height: $carousel-height;
  margin-bottom: $carousel-margin;
  position: relative;
}

.carousel__input {
  display: none;
}

.carousel__input:nth-of-type(1):checked ~ .carousel__list .carousel__item:first-of-type {
  margin-left: 0;
}
.carousel__input:nth-of-type(2):checked ~ .carousel__list .carousel__item:first-of-type {
  margin-left: -100%;
}
.carousel__input:nth-of-type(3):checked ~ .carousel__list .carousel__item:first-of-type {
  margin-left: -200%;
}
.carousel__input:nth-of-type(4):checked ~ .carousel__list .carousel__item:first-of-type {
  margin-left: -300%;
}

.carousel__list {
  background-color: $carousel-list-background-color;
  font-size: 0;
  height: 100%;
  line-height: 0;
  list-style: none;
  margin: $carousel-list-margin;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}

.carousel__item {
  display: inline-block;
  font-size: $carousel-item-font-size;
  line-height: $carousel-item-line-height;
  position: relative;
  text-align: center;
  transition: all $transition-timing-default;
  white-space: normal;
  width: 100%;
}

.carousel__navigation {
  height: $carousel-navigation-height;
  position: absolute;
  top: 50%;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.carousel__navigation__item {
  box-shadow: $carousel-navigation-item-box-shadow;
  cursor: pointer;
  display: none;
  padding: ($carousel-navigation-height / 2);
  position: absolute;
  top: -50%;
  transition: box-shadow $transition-timing-default;
}

.carousel__navigation__item:before {
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 100%;
}

.carousel__navigation__item:hover {
  box-shadow: $carousel-navigation-item-hover-box-shadow;
}

/* Prev */
.carousel__input:nth-of-type(1):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(0),
.carousel__input:nth-of-type(2):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(1),
.carousel__input:nth-of-type(3):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(2),
.carousel__input:nth-of-type(4):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(3) {
  display: block;
  left: $carousel-navigation-prev-left;
  transform: $carousel-navigation-prev-rotate;
}

/* Next */
.carousel__input:nth-of-type(1):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(2),
.carousel__input:nth-of-type(2):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(3),
.carousel__input:nth-of-type(3):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(4) {
  display: block;
  right: $carousel-navigation-next-right;
  transform: $carousel-navigation-next-rotate;
}

.carousel__indicators {
  font-size: 0;
  left: 50%;
  line-height: 0;
  margin-top: 0 $carousel-indicators-item-size;
  position: absolute;
  text-align: center;
  top: 100%;
  user-select: none;
  z-index: 10;
}

.carousel__indicators__container {
  margin-left: -100%;
}

.carousel__indicators__item {
  background: $carousel-indicators-item-background-color;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0 $carousel-indicators-item-size;
  padding: $carousel-indicators-item-size;
  position: relative;
}

.carousel__indicators__item:after {
  background: $carousel-indicators-item-after-background-color;
  border-radius: 50%;
  content: "";
  left: 50%;
  margin-left: -$carousel-indicators-item-size;
  margin-top: -$carousel-indicators-item-size;
  opacity: 0;
  padding: $carousel-indicators-item-size;
  position: absolute;
  top: 50%;
  transition: opacity $transition-timing-default;
}

.carousel__indicators__item:hover:after,
.carousel__input:nth-of-type(1):checked ~ .carousel__indicators .carousel__indicators__item:nth-of-type(1):after,
.carousel__input:nth-of-type(2):checked ~ .carousel__indicators .carousel__indicators__item:nth-of-type(2):after,
.carousel__input:nth-of-type(3):checked ~ .carousel__indicators .carousel__indicators__item:nth-of-type(3):after,
.carousel__input:nth-of-type(4):checked ~ .carousel__indicators .carousel__indicators__item:nth-of-type(4):after {
  opacity: 1;
}

// BREAKPOINTS
@media (min-width: 768px) {
  .carousel__list {
    margin-left: ($base-vertical-rhythm * 3);
    margin-right: ($base-vertical-rhythm * 3);
  }

  .carousel__navigation {
    height: 32px;
  }

  .carousel__navigation__item {
    padding: 16px;
  }

  .carousel__input:nth-of-type(1):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(0),
  .carousel__input:nth-of-type(2):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(1),
  .carousel__input:nth-of-type(3):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(2),
  .carousel__input:nth-of-type(4):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(3) {
    left: 5px;
  }

  /* Next */
  .carousel__input:nth-of-type(1):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(2),
  .carousel__input:nth-of-type(2):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(3),
  .carousel__input:nth-of-type(3):checked ~ .carousel__navigation .carousel__navigation__item:nth-of-type(4) {
    right: 5px;
  }
}
