//
// GRAPH
//

$graph-margin: ($base-vertical-rhythm * 3);
$graph-item-padding: ($base-vertical-rhythm);
$graph-item-width-1: 60%;
$graph-item-width-2: 20%;

.graph {
  display: table;
  margin-bottom: $graph-margin;
  width: 100%;
}

.graph__item {
  display: table-cell;
  padding: $graph-item-padding;
  text-align: center;
}

.graph__item:nth-child(1) {
  background-color: $color-quaternary;
  border-radius: ($base-vertical-rhythm * 0.5) 0 0 ($base-vertical-rhythm * 0.5);
  width: $graph-item-width-1;
}

.graph__item:nth-child(2) {
  background-color: $color-quinary;
  width: $graph-item-width-2;
}

.graph__item:nth-child(3) {
  background-color: $color-gray-darker;
  border-radius: 0 ($base-vertical-rhythm * 0.5) ($base-vertical-rhythm * 0.5) 0;
  width: $graph-item-width-2;
}
