//
// MENUBAR
//

$menubar-background-color: $color-primary-dark;
$menubar-search-input-min-width: 250px;

.menubar {
  background-color: $menubar-background-color;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* Menubar Input */


/* Menubar Toggle */
.menubar__toggle {
  background: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  padding: 17px ($base-vertical-rhythm * 1.5);
  transition: background $transition-timing-default, transform $transition-timing-default;
}

.menubar__input:focus ~ .menubar .menubar__toggle,
.menubar__toggle:hover {
  background-color: $color-primary-darker;
}

.menubar__input:focus ~ .menubar .menubar__toggle__line,
.menubar__toggle:hover .menubar__toggle__line {
  background-color: $color-white;
}

/* Show outline for accessibility */
.menubar__input:focus ~ .menubar .menubar__toggle {
  outline: -webkit-focus-ring-color auto 5px;
}

.menubar__input:checked ~ .menubar .menubar__toggle {
  transform: translate3d($menubar-nav-width, 0, 0);
}

/* Menu Icon */
.menubar__toggle__inner {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 36px;
}

.menubar__toggle__line {
  background-color: fade-out($color-white, 0.5);
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  transition: background $transition-timing-default;
  width: 100%;
}

.menubar__toggle__line:first-child {
  top: 0;
}

.menubar__toggle__line:nth-child(2) {
  top: 12px;
}

.menubar__toggle__line:last-child {
  top: 24px;
}

/* Menubar Navigation */
.menubar__nav {
  background-color: $color-primary-dark;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translate3d(-$menubar-nav-width, 0, 0);
  transition: transform $transition-timing-default;
  width: $menubar-nav-width;
}

/* Show/hide navigation on click */
.menubar__input:checked ~ .menubar .menubar__nav {
  transform: translate3d(0, 0, 0);
}

/* Menubar Logo */
.menubar__logo {
  color: $color-white;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: ($base-vertical-rhythm * 1.5);
  text-decoration: none;
}

.menubar__logo:focus {
  background-color: $color-primary-darker;
}

/* Menubar List */
.menubar__list {
  bottom: 100px;
  left: 0;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  top: 64px;
  width: 100%;
}

/* Menubar Links */
.menubar__link {
  color: fade-out($color-white, 0.5);
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: ($base-vertical-rhythm * 1.5);
  text-decoration: none;
  transition: color $transition-timing-default;
}

.menubar__link:hover,
.menubar__link:focus {
  color: $color-white;
}

/* Menubar Mask */
.menubar__mask {
  background-color: fade-out($color-black, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 64px;
  transition: opacity $transition-timing-default, transform $transition-timing-default, z-index 0s 0.5s;
  width: 100%;
  z-index: -1;
}

/* Show/hide navigation on click */
.menubar__input:checked ~ .main .menubar__mask {
  opacity: 1;
  transform: translate3d($menubar-nav-width, 0, 0);
  transition: opacity $transition-timing-default, transform $transition-timing-default;
  z-index: 2;
  cursor: pointer;
}

/* Menubar Search */
.menubar__search {
  border-top: 2px solid $color-primary-darker;
  bottom: 0;
  left: 0;
  padding: ($base-vertical-rhythm * 1.5);
  position: absolute;
  width: 100%;
}

.menubar__search:hover .menubar__search__label {
  color: $color-white;
}

.menubar__search__label {
  color: fade-out($color-white, 0.5);
  display: block;
  font-size: ($base-vertical-rhythm * 0.875);
  line-height: 1;
  text-transform: uppercase;
  transition: color $transition-timing-default;
}

.menubar__search__input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid fade-out($color-white, 0.5);
  color: $color-white;
  display: block;
  font-size: ($base-vertical-rhythm * 0.875);
  height: 36px;
  padding: ($base-vertical-rhythm * 0.5) ($base-vertical-rhythm * 1.5) ($base-vertical-rhythm * 0.5) 0;
  transition: border $transition-timing-default;
  width: 100%;
}

.menubar__search:hover .menubar__search__input,
.menubar__search__input:focus {
  border-bottom-color: $color-white;
}

.menubar__search__input:focus {
  outline: 0;
}

.menubar__search__submit {
  background: none;
  border: 0;
  bottom: ($base-vertical-rhythm * 2);
  color: fade-out($color-white, 0.5);
  cursor: pointer;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: ($base-vertical-rhythm * 1.5);
  transition: color $transition-timing-default;
}

.menubar__search:hover .menubar__search__submit,
.menubar__search__input:focus + .menubar__search__submit {
  color: $color-white;
}

// BREAKPOINTS
@media (min-width: 1024px) {
  .menubar__input,
  .menubar__toggle {
    display: none;
  }

  .menubar__nav {
    background-color: transparent;
    height: auto;
    left: auto;
    position: static;
    top: auto;
    transform: none;
    transition: none;
    width: auto;
  }

  .menubar__logo {
    float: left;
  }

  .menubar__list {
    border-top: 0;
    display: flex;
    float: left;
    justify-content: center;
    left: auto;
    overflow: visible;
    position: static;
    top: auto;
    width: auto;
  }

  .menubar__search {
    border-top: 0;
    bottom: auto;
    left: auto;
    padding: ($base-vertical-rhythm * 0.875) ($base-vertical-rhythm * 1.5);
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }

  .menubar__search__label {
    display: inline-block;
    margin-right: ($base-vertical-rhythm * 0.5);
  }

  .menubar__search__input {
    display: inline-block;
    width: auto;
  }

  .menubar__search__submit {
    bottom: ($base-vertical-rhythm * 1.375);
  }

  .menubar__mask {
    display: none;
  }
}

@media (min-width: 1280px) {
  .menubar__search__input {
    min-width: $menubar-search-input-min-width;
  }
}
