//
// MODAL
//

$modal-close-size: 32px;

.modal {
  background-color: fade-in($color-black, 0.8);
  color: $color-white;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity $transition-timing-default;
  width: 100%;
  z-index: 9999;
}

.modal__input:checked ~ .modal {
  opacity: 1;
  pointer-events: auto;
}

.modal__content {
  left: 50%;
  opacity: 0.5;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity $transition-timing-default;
}

.modal__close {
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  right: ($base-vertical-rhythm * 1.5);
  top: ($base-vertical-rhythm * 1.5);
  transition: opacity $transition-timing-default;
}

.modal:hover .modal__content,
.modal:hover .modal__close {
  opacity: 1;
}

// BREAKPOINTS
@media (min-width: 1024px) {
  .modal__content {
    font-size: $base-heading-3-font-size;
  }

  .modal__close {
    height: $modal-close-size;
    width: $modal-close-size;
  }
}
