//
// TABPANEL
//

$tabpanel-label-width: 25%;
$tabpanel-body-width: 75%;

.tabpanel {
  background-color: $color-gray-lighter;
  position: relative;
}

/* Show outline for accessibility */
.tabpanel__input:focus + .tabpanel__label {
  outline: -webkit-focus-ring-color auto 5px;
  position: relative;
  z-index: 1;
}

.tabpanel__label {
  border-bottom: 2px solid $color-gray-light;
  cursor: pointer;
  display: block;
  padding: ($base-vertical-rhythm * 0.75) ($base-vertical-rhythm);
  text-align: center;
}

.tabpanel__label:hover {
  background-color: $color-gray-light;
  color: $color-gray-darkest;
}

.tabpanel__input:checked + .tabpanel__label {
  background-color: #9292a0;
  border-bottom: 0;
  color: $color-white;
}

.tabpanel__body {
  background-color: $color-white;
  border: 2px solid $color-gray-light;
  display: none;
  padding: ($base-vertical-rhythm * 1.5);
}

.tabpanel__body > *:last-child {
  margin-bottom: 0;
}

.tabpanel__input:checked + .tabpanel__label + .tabpanel__body {
  display: block;
}

.tabpanel__body__heading {
  font-size: $base-heading-5-font-size;
  font-weight: 400;
  margin-bottom: ($base-vertical-rhythm * 0.5);
  padding-top: ($base-vertical-rhythm * 1.5);
}

.tabpanel__body__content {
  font-size: 16px;
}

.tabpanel__body__link {
  margin-right: ($base-vertical-rhythm * 1.5);
}

.tabpanel__body__link svg {
  height: ($base-vertical-rhythm * 1.5);
  margin-right: ($base-vertical-rhythm * 0.5);
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: ($base-vertical-rhythm * 1.5);
}

// BREAKPOINTS
@media (min-width: 1024px) {
  .tabpanel {
    background-color: transparent;
    display: block;
  }

  .tabpanel__label {
    border-bottom: 0;
    padding: ($base-vertical-rhythm) ($base-vertical-rhythm * 1.5);
    text-align: right;
    width: $tabpanel-label-width;
  }

  .tabpanel__input:checked + .tabpanel__label {
    background-color: $color-white;
    color: $color-gray-darkest;
  }

  .tabpanel__body {
    border: 0;
    height: 100%;
    margin-left: $tabpanel-label-width;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: $tabpanel-body-width;
  }

  .tabpanel__body .carousel {
    height: auto;
    margin-top: ($base-vertical-rhythm * 1.5);
  }
}
