//
// WRAPPER
//

$wrapper-sm-max-width: 600px;
$wrapper-md-max-width: 768px;
$wrapper-lg-max-width: 960px;
$wrapper-xl-max-width: 1140px;
$wrapper-xxl-max-width: 1280px;

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: ($base-vertical-rhythm * 1.5);
  padding-right: ($base-vertical-rhythm * 1.5);
}

.wrapper-sm {
  max-width: $wrapper-sm-max-width;
}

.wrapper-md {
  max-width: $wrapper-md-max-width;
}

.wrapper-lg {
  max-width: $wrapper-lg-max-width;
}

.wrapper-xl {
  max-width: $wrapper-xl-max-width;
}

.wrapper-xxl {
  max-width: $wrapper-xxl-max-width;
}
