//
// MAIN
//

.main {
  padding-top: $menubar-nav-fixed-height;
  position: relative;
}

.menubar__input:checked ~ .main {
  height: 100%;
  overflow: hidden;
}

.main__container {
  transition: transform $transition-timing-default;
}

.menubar__input:checked ~ .main .main__container {
  transform: translate3d($menubar-nav-width, 0, 0);
}

// BREAKPOINTS
@media (min-width: 1024px) {
  .main {
    height: auto;
    overflow: visible;
    padding-top: $menubar-nav-fixed-height;
  }

  .main__container {
    height: auto;
    overflow: visible;
  }
}
