//
// SECTION
//

$section-divider-height: 110px;

.section {
  background-color: $color-white;
  padding-bottom: ($base-vertical-rhythm * 3);
  padding-top: ($base-vertical-rhythm * 3);
  position: relative;
  z-index: 1;
}

.section__heading {
  font-size: $base-heading-3-font-size;
  margin-top: 0;
}

.section__subheading {
  margin-bottom: ($base-vertical-rhythm * 3);
}

.section__divider {
  background-color: inherit;
  background-position: 0 0;
  background-repeat: repeat-x;
  height: $section-divider-height;
  width: 100%;
}

/* Intro */
#sectionIntro {
  background-color: $color-primary;
}

#sectionIntro,
#sectionIntro .section__heading {
  color: $color-white;
}

#sectionIntro hr {
  background: $color-secondary;
  border: 0;
  display: block;
  height: 6px;
  margin: 0 0 0.5rem;
  width: 64px;
}

#sectionIntro + .section__divider {
  background-image: url("../images/section/section-divider-primary.svg");
}

/* About */
#sectionAbout {
  background-color: $color-white;
  color: $base-color;
}

#sectionAbout + .section__divider {
  background-color: $color-gray-lightest;
  background-image: url("../images/section/section-divider-white.svg");
}

/* Projects */
#sectionProjects {
  background-color: $color-gray-lightest;
  color: $base-color;
}

#sectionProjects .section__heading {
  color: $color-gray-darker;
}

#sectionProjects + .section__divider {
  background-color: $color-primary;
  background-image: url("../images/section/section-divider-gray-lightest.svg");
}

/* Skills */
#sectionSkills {
  background-color: $color-primary;
}

#sectionSkills,
#sectionSkills .section__heading {
  color: $color-white;
}

#sectionSkills + .section__divider {
  background-image: url("../images/section/section-divider-primary.svg");
}

/* Contact */
#sectionContact .section__footer {
  margin-top: ($base-vertical-rhythm * 3);
  text-align: center;
}

@media (min-width: 600px) and (min-height: 400px) {
  .section {
    padding-bottom: ($base-vertical-rhythm * 6);
    padding-top: ($base-vertical-rhythm * 6);
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .section {
    padding-bottom: ($base-vertical-rhythm * 9);
    padding-top: ($base-vertical-rhythm * 9);
  }

  .section__heading {
    font-size: $base-heading-1-font-size;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .section {
    padding-bottom: ($base-vertical-rhythm * 12);
    padding-top: ($base-vertical-rhythm * 12);
  }
}
