//
// SECTION
//

$section-divider-height: 110px;

.section {
  position: relative;
  z-index: 1;
  padding-top: ($base-vertical-rhythm * 3);
  padding-bottom: ($base-vertical-rhythm * 3);
  background-color: $color-white;
}

.section-heading {
  font-size: $base-heading-3-font-size;
  margin-top: 0;
}

.section-subheading {
  margin-bottom: ($base-vertical-rhythm * 3);
}

.section-divider {
  width: 100%;
  height: $section-divider-height;
  background-color: inherit;
  background-repeat: repeat-x;
  background-position: 0 0;
}

/* Intro */
#section-intro {
  background-color: $color-primary;
}

#section-intro,
#section-intro .section-heading {
  color: $color-white;
}

#section-intro hr {
  display: block;
  width: 64px;
  height: 6px;
  background: $color-secondary;
  border: 0;
  margin: 0 0 0.5rem;
}

#section-intro + .section-divider {
  background-image: url('../images/section/section-divider-primary.svg');
}

/* About */
#section-about {
  background-color: $color-white;
  color: $base-color;
}

#section-about + .section-divider {
  background-image: url('../images/section/section-divider-white.svg');
  background-color: $color-gray-lightest;
}

/* Projects */
#section-projects {
  background-color: $color-gray-lightest;
  color: $base-color;
}

#section-projects .section-heading {
  color: $color-gray-darker;
}

#section-projects + .section-divider {
  background-image: url('../images/section/section-divider-gray-lightest.svg');
  background-color: $color-primary;
}

/* Skills */
#section-skills {
  background-color: $color-primary;
}

#section-skills,
#section-skills .section-heading {
  color: $color-white;
}

#section-skills + .section-divider {
  background-image: url('../images/section/section-divider-primary.svg');
}

/* Contact */
#section-contact .section-footer {
  text-align: center;
  margin-top: ($base-vertical-rhythm * 3);
}

@media (min-width: 600px) and (min-height: 400px) {
  .section {
    padding-top: ($base-vertical-rhythm * 6);
    padding-bottom: ($base-vertical-rhythm * 6);
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .section {
    padding-top: ($base-vertical-rhythm * 9);
    padding-bottom: ($base-vertical-rhythm * 9);
  }

  .section-heading {
    font-size: $base-heading-1-font-size;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .section {
    padding-top: ($base-vertical-rhythm * 12);
    padding-bottom: ($base-vertical-rhythm * 12);
  }
}
